<tr>
  <td>
    <%= link_to "add", new_test_question_path(@test) %>
    |
  </td>
  <td>
    <%= link_to "back", tests_path %>
  </td>
</tr>

<p>
  <h1><%= question_header(@question, "Test ")%></h1>
  <%= @question.body %>
</p>

<%= link_to "delete", question_path(@question), method: :delete %>
<%= link_to "edit", edit_question_path(@question) %>
